<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 需要记录的日志类型，使用|号分隔，默认“Info|Error|Debug” -->
		<add key="LogType" value="Info|Error|Debug"/>
	</appSettings>
	<configSections>
		<sectionGroup name="NPiculet">
			<section name="logProvider" requirePermission="false" type="NPiculet.Log.LogProviderSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<NPiculet>
		<logProvider defaultProvider="FileLogProvider">
			<providers>
				<add name="XmlLogProvider" type="NPiculet.Log.XmlLogProvider" address="~/logs" description="基于XML的日志存储提供器"/>
				<add name="FileLogProvider" type="NPiculet.Log.FileLogProvider" address="~/logs" description="基于文件的日志存储提供器"/>
				<add name="MsSqlLogProvider" type="NPiculet.Log.MsSqlLogProvider" address="data source=.;initial catalog=ZxSysDB;user id=sa;password=123456;" description="基于MsSQL的日志存储提供器"/>
			</providers>
		</logProvider>
	</NPiculet>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
