<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionKey" value="NConnString"/>
	</appSettings>
	<connectionStrings>
		<!-- MS SQL Server -->
		<!--<add name="NConnString" connectionString="data source=.;initial catalog=ZxSysDB;user id=sa;password=123456;" providerName="System.Data.SqlClient" />-->
		<!-- PgSQL -->
		<!--<add name="NConnString" connectionString="Server=192.168.0.234;Port=5432;User Id=postgres;Password=admin110;Database=eruipanbbs;" providerName="Npgsql" />-->
		<!-- MySQL -->
		<add name="NConnString" connectionString="server=localhost;database=fmdb;uid=root;pwd=1234;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
