<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="NPiculet">
      <section name="logProvider" requirePermission="false" type="NPiculet.Log.LogProviderSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="plugins" type="NPiculet.Core.PluginConfigSection" allowLocation="true" requirePermission="false" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>
  <NPiculet>
    <logProvider defaultProvider="FileLogProvider">
      <providers>
        <add name="FileLogProvider" type="NPiculet.Log.FileLogProvider" address="~/logs" description="基于文件的日志存储提供器"/>
      </providers>
    </logProvider>
    <!-- 定义模块描述器 -->
    <plugins>
      <pluginConfig>
        <add name="Exception" type="NPiculet.Logic.Sys.ExceptionDescriptor, NPiculet.Base" description="异常管理"/>
        <add name="Auth" type="NPiculet.Logic.Sys.AuthDescriptor, NPiculet.Base" description="用户管理"/>
        <add name="Dict" type="NPiculet.Logic.Dict.DictDescriptor, NPiculet.Base" description="字典表管理"/>
        <add name="Logger" type="NPiculet.Logic.Sys.LoggerDescriptor, NPiculet.Base" description="日志管理"/>
      </pluginConfig>
    </plugins>
  </NPiculet>
  <appSettings>
    <!-- 默认数据库连接 -->
    <add key="DefaultConnectionKey" value="NConnString"/>
    <!-- 需要记录的日志类型，使用|号分隔，默认“Info|Error|Debug” -->
    <add key="LogType" value="Info|Error|Debug"/>
    <!-- WebAPI 默认跨越设置 -->
    <add key="WebApiCrossDomain" value="true"/>
    <!-- 初始化参数设置 -->
    <add key="MemberLoginUrl" value="~/Login.aspx"/>
    <add key="MemberLoginTimeout" value="30"/>
    <add key="AdminLoginUrl" value="~/modules/Login.aspx"/>
    <add key="AdminLoginTimeout" value="30"/>
  </appSettings>
  <connectionStrings>
    <add name="NConnString" connectionString="server=localhost;port=3306;database=npiculet;uid=root;pwd=1234;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="3600"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <!--<httpHandlers>
      <add path="api/*/*" verb="*" type="NPiculet.WebAPI.RouteHttpHandler, NPiculet.WebAPI" validate="true" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="NPiculetWebAPI" verb="*" path="api/*/*" type="NPiculet.WebAPI.RouteHttpHandler, NPiculet.WebAPI" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>