.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 9pt;
}
a,
a:hover,
a:focus,
a:active,
a:link {
  text-decoration: none;
  color: #333;
}
.ui-frame {
  min-height: 100%;
  background-color: #f7f7f7;
}
.ui-navbar {
  width: 1000px;
  margin: 0 auto;
}
.ui-body {
  width: 1000px;
  margin: 0 auto;
}
.ui-body .ui-sidebar {
  display: inline-block;
  width: 28%;
  vertical-align: top;
}
.ui-body .ui-content {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
.page-index .ui-body {
  background-color: #fff;
}
.ui-top {
  height: 60px;
  text-align: center;
}
.ui-top a img {
  width: 1000px;
  height: 100%;
}
.ui-top .full-win {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
  /* lt IE9 */
  text-align: center;
  overflow: auto;
}
.ui-top .full-win img {
  width: 1000px;
}
.ui-top .full-win .full-win-close {
  box-sizing: border-box;
  width: 1000px;
  height: 30px;
  margin: 0 auto;
  text-align: right;
  padding: 5px 20px;
}
.ui-top .full-win .full-win-close * {
  color: #fff;
  font-weight: bold;
}
/* UI Top & Head */
.ui-header .layout {
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
}
.ui-header .layout .web-title {
  text-align: center;
  font-size: 3em;
  font-family: Georgia, Arial;
}
/* UI Navbar */
.ui-navbar .navbar-brand img {
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
/* UI Body */
.ui-body {
  background-color: #fff;
}
.ui-body .ui-body-row {
  margin-bottom: 20px;
  vertical-align: top;
}
.ui-body .ui-sidebar {
  padding: 10px;
}
.ui-body .ui-content {
  padding: 10px;
}
/* UI Footer */
.ui-footer {
  margin-top: 15px;
  padding: 20px;
  border-top: 2px solid #015293;
  background-color: #efefef;
  line-height: 2em;
}
.ui-footer .copyright {
  text-align: center;
}
/* UI Widget */
.ui-widget {
  background-color: #fff;
}
.ui-widget .header {
  margin: 0 10px 0 10px;
  zoom: 1;
}
.ui-widget .header:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui-widget .header .title {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 2px 0 0 5px;
  width: 180px;
  height: 30px;
  line-height: 28px;
  color: #015293;
  font-size: 16px;
  font-weight: bold;
}
.ui-widget .header .more {
  display: block;
  float: right;
  margin-top: 5px;
  padding-right: 25px;
  color: #999;
  background: url(web/page/icon_more.png) no-repeat right center;
}
.ui-widget .header .title-line {
  clear: both;
  height: 2px;
  background-color: #015293;
}
.ui-widget .header .title-line .gray {
  float: right;
  width: 75%;
  height: 2px;
  background-color: #ccc;
}
.ui-widget .content {
  padding: 10px 15px;
}
.ui-widget .content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ui-widget .content li {
  font-size: 14px;
  line-height: 2em;
  white-space: nowrap;
}
.ui-widget .content li .date {
  box-sizing: border-box;
  text-align: right;
  padding-right: 6px;
  width: 49px;
  height: 19px;
  line-height: 19px;
}
.ui-widget .content li span {
  box-sizing: border-box;
  display: block;
}
.ui-widget .content li span.new {
  background: url(web/page/new_bg.png);
}
.ui-widget-simple .header .title {
  padding: 2px 0 0 5px;
  background: none;
  color: #015293;
}
/* UI Content Page */
.ui-content-sidebar {
  padding-right: 10px;
}
.ui-content-list .content-list {
  padding: 2px 10px 0 20px;
  background-color: #fff;
}
.ui-content-list .content-list .content-title {
  border-bottom: 2px solid #015293;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  height: 30px;
  color: #015293;
}
.ui-content-list .content-list .content-table {
  width: 100%;
  border-collapse: collapse;
}
.ui-content-list .content-list .content-table tr:first-child {
  display: none;
}
.ui-content-list .content-list .content-table td {
  padding: 6px 6px 6px 20px;
  border-bottom: 1px dotted #ddd;
  font-size: 14px;
  line-height: 2.2em;
}
.ui-content-view .content-info {
  padding: 0 15px;
}
.ui-content-view .content-info a.btn-back {
  display: block;
  width: 70px;
  height: 24px;
  margin-top: 10px;
  line-height: 24px;
  font-size: 14px;
  color: #999;
}
.ui-content-view .content-info .content-title {
  line-height: 60px;
  text-align: center;
  font-family: Arial, "楷体";
  font-size: 28px;
  font-weight: bold;
}
.ui-content-view .content-info .content-title .subtitle {
  font-size: 22px;
  font-weight: normal;
}
.ui-content-view .content-info .content-from {
  padding: 4px 8px;
  border-bottom: 2px solid #015293;
  text-align: right;
  color: #999;
}
.ui-content-view .content-info .content-article {
  margin: 15px;
  line-height: 2.5em;
}
.ui-content-view .content-info ul.quote {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 5px 20px 20px 20px;
}
.ui-content-view .content-info ul.quote li a {
  font-size: 14px;
  line-height: 2em;
}
/* Common CSS */
.split-line {
  display: block;
  height: 1px;
  margin: 10px 0;
  border-top: 2px dotted #ddd;
}
.bar-bottom img {
  margin-top: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table.points th,
.table.points td {
  border: 1px solid #eee;
  padding: 6px;
  text-align: center;
  line-height: 24px;
}
.table.pointslist2 {
  display: none;
}
.data-empty {
  margin: 15px;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  color: #999;
}
/* Business CSS */
.verifycode {
  width: 80px;
  height: 30px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.zhuangti div {
  text-align: center;
}
.zhuangti div img {
  width: 100%;
}
.quick-nav {
  font-size: 0;
}
.quick-nav .icons {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background: url(web/page/icons.png) no-repeat;
}
.quick-nav .sprite1 {
  background-position: 0 0;
}
.quick-nav .sprite2 {
  background-position: -64px 0;
}
.quick-nav .sprite3 {
  background-position: -128px 0;
}
.quick-nav .sprite4 {
  background-position: 0 -64px;
}
.quick-nav .sprite5 {
  background-position: -64px -64px;
}
.quick-nav .sprite6 {
  background-position: -128px -64px;
}
.quick-nav li {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}
.quick-nav li span {
  display: block;
  height: 36px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.5em;
}
.quick-nav li.bl {
  border-left: 1px solid #eee;
}
.quick-nav li.br {
  border-right: 1px solid #eee;
}
.quick-nav li.bt {
  border-top: 1px solid #eee;
}
.quick-nav li.bb {
  border-bottom: 1px solid #eee;
}
/* Pager */
.npager {
  margin: 15px 0 10px 0;
  text-align: center;
}
.npager ul {
  margin: 0 auto;
}
.npager ul li.active a {
  border-color: #015293;
  background-color: #015293;
}
.npager ul li a {
  color: #015293;
}
.npager ul li:first-child > a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.npager ul li:last-child > a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
