// Init variables
@nav-bg-color: #015293;
@base-color: #015293;
@nav-height: 45px;

// Import libs
@import "less/lib.less";
@import "less/framework.less";

// Fix UI framework

// Just Index Page
.page-index {
	.ui-body {
		background-color: #fff;
	}
}

// 初始化UI主框架样式
ui-frame {}

// UI Top
.ui-top {
	height: 60px;
	text-align: center;

	a {
		img {
			width: @ui-width;
			height: 100%;
		}
	}

	.full-win {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99999;
		background: rgba(0,0,0,.8);
		filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000)"; /* lt IE9 */
		text-align: center;
		overflow: auto;

		img {
			width: @ui-width;
		}

		.full-win-close {
			box-sizing: border-box;
			width: @ui-width;
			height: 30px;
			margin: 0 auto;
			text-align: right;
			padding: 5px 20px;

			* {
				color: #fff;
				font-weight: bold;
			}
		}
	}
}

/* UI Top & Head */
.ui-header {

	.layout {
		width: @ui-width;
		margin: 0 auto;
		padding: 30px;

		.web-title {
			text-align: center;
			font-size: 3em;
			font-family: Georgia, Arial;
		}
	}
}

/* UI Navbar */
.ui-navbar {
	.navbar-brand img {
		width: 20px;
		border: 1px solid #ccc;
		border-radius: 30px;
	}
}

/* UI Body */
.ui-body {
	background-color: #fff;

	.ui-body-row {
		margin-bottom: 20px;
		vertical-align: top;
	}

	.ui-sidebar {
		padding: 10px;
	}

	.ui-content {
		padding: 10px;
	}
}

/* UI Footer */
.ui-footer {
	margin-top: 15px;
	padding: 20px;
	border-top: 2px solid @base-color;
	background-color: #efefef;
	line-height: 2em;

	.copyright {
		text-align: center;
	}
}

/* UI Widget */
.ui-widget {
	background-color: #fff;

	.header {
		margin: 0 10px 0 10px;
		.clearfix();

		.title {
			box-sizing: border-box;
			display: block;
			float: left;
			padding: 2px 0 0 5px;
			width: 180px;
			height: 30px;
			line-height: 28px;
			color: @base-color;
			font-size: 16px;
			font-weight: bold;
		}

		.more {
			display: block;
			float: right;
			margin-top: 5px;
			padding-right: 25px;
			color: #999;
			background: url(web/page/icon_more.png) no-repeat right center;
		}

		.title-line {
			clear: both;
			height: 2px;
			background-color: @base-color;

			.gray {
				float: right;
				width: 75%;
				height: 2px;
				background-color: #ccc;
			}
		}
	}

	.content {
		padding: 10px 15px;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			font-size: 14px;
			line-height: 2em;
			white-space: nowrap;

			.date {
				box-sizing: border-box;
				text-align: right;
				padding-right: 6px;
				width: 49px;
				height: 19px;
				line-height: 19px;
			}

			span {
				box-sizing: border-box;
				display: block;

				&.new {
					background: url(web/page/new_bg.png);
				}
			}
		}
	}
}

.ui-widget-simple {
	.header {
		.title {
			padding: 2px 0 0 5px;
			background: none;
			color: @base-color;
		}
	}
}

/* UI Content Page */
.ui-content-sidebar {
	padding-right: 10px;
}

.ui-content-list {

	.content-list {
		padding: 2px 10px 0 20px;
		background-color: #fff;

		.content-title {
			border-bottom: 2px solid @base-color;
			font-size: 16px;
			font-weight: bold;
			line-height: 28px;
			height: 30px;
			color: @base-color;
		}

		.content-table {
			width: 100%;
			border-collapse: collapse;

			tr {
				&:first-child {
					display: none;
				}
			}

			td {
				padding: 6px 6px 6px 20px;
				border-bottom: 1px dotted #ddd;
				font-size: 14px;
				line-height: 2.2em;
			}
		}

		.images-table {
			tr {
				background: none;
			}

			td {
				padding: 6px;
				vertical-align: top;

				&.thumb {
					width: 120px;
					padding: 6px;

					img {
						display: block;
						width: 120px;
						height: 90px;
						background-color: #eee;
					}
				}

				&.title {
					line-height: 1.5em;

					h4 {
						margin-top: 4px;
					}

					span {
						font-size: 12px;
						color: #999;
					}
				}
			}
		}
	}
}

.ui-content-view {

	.content-info {
		padding: 0 15px;

		a.btn-back {
			display: block;
			width: 70px;
			height: 24px;
			margin-top: 10px;
			line-height: 24px;
			font-size: 14px;
			color: #999;
		}

		.content-title {
			line-height: 60px;
			text-align: center;
			font-family: Arial, "楷体";
			font-size: 28px;
			font-weight: bold;

			.subtitle {
				font-size: 22px;
				font-weight: normal;
			}
		}

		.content-from {
			padding: 4px 8px;
			border-bottom: 2px solid @base-color;
			text-align: right;
			color: #999;
		}

		.content-article {
			margin: 15px;
			line-height: 2.5em;
		}

		ul.quote {
			list-style-type: none;
			padding: 0;
			margin: 0;
			padding: 5px 20px 20px 20px;

			li a {
				font-size: 14px;
				line-height: 2em;
			}
		}
	}
}

/* Common CSS */
.split-line {
	display: block;
	height: 1px;
	margin: 10px 0;
	border-top: 2px dotted #ddd;
}

.bar-bottom img {
	margin-top: 20px;
}

.table {
	width: 100%;
	border-collapse: collapse;

	&.points {
		th, td {
			border: 1px solid #eee;
			padding: 6px;
			text-align: center;
			line-height: 24px;
		}
	}

	&.pointslist2 {
		display: none;
	}
}

.data-empty {
	margin: 15px;
	font-size: 14px;
	text-align: center;
	line-height: 48px;
	color: #999;
}

/* Business CSS */
.verifycode {
	width: 80px;
	height: 30px;
	border: 1px solid #ddd;
	.radius(2px);
}

.zhuangti {

	div {
		text-align: center;

		img {
			width: 100%;
		}
	}
}

.quick-nav {
	font-size: 0;

	.icons {
		display: block;
		width: 64px;
		height: 64px;
		margin: 0 auto;
		background: url(web/page/icons.png) no-repeat;
	}

	.sprite1 {
		background-position: 0 0;
	}

	.sprite2 {
		background-position: -64px 0;
	}

	.sprite3 {
		background-position: -128px 0;
	}

	.sprite4 {
		background-position: 0 -64px;
	}

	.sprite5 {
		background-position: -64px -64px;
	}

	.sprite6 {
		background-position: -128px -64px;
	}

	li {
		box-sizing: border-box;
		display: inline-block;
		width: 33%;
		padding: 10px;
		text-align: center;
		vertical-align: top;

		span {
			display: block;
			height: 36px;
			margin-top: 5px;
			font-size: 12px;
			line-height: 1.5em;
		}

		&.bl {
			border-left: 1px solid #eee;
		}

		&.br {
			border-right: 1px solid #eee;
		}

		&.bt {
			border-top: 1px solid #eee;
		}

		&.bb {
			border-bottom: 1px solid #eee;
		}
	}
}

/* Pager */
.npager {
	margin: 15px 0 10px 0;
	text-align: center;

	ul {
		margin: 0 auto;

		li {
			&.active a {
				border-color: @base-color;
				background-color: @base-color;
			}

			a {
				color: @base-color;
			}

			&:first-child > a {
				.radius-custom(3px, 0, 3px, 0);
			}

			&:last-child > a {
				.radius-custom(0, 3px, 0, 3px);
			}
		}
	}
}
